<p-toast position="top-right"></p-toast>



<div class="container">

  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Lista Filmow</h4>
    <p>Możesz dodawać edytować i usuwać.</p>
    <hr>
    <p class="mb-0">Klient Api napisany w Angularze2+.</p>
  </div>
<div *ngIf="addView==false">
  <button type="button" class="btn btn-secondary" (click)="showAdd()">Dodawanie nowego filmu</button>
</div>
<table class="table table-hover" >
  <thead>
  <tr>
    <th scope="col" style="width:10%" >#</th>
    <th scope="col" style="width:15%">Tytuł</th>
    <th scope="col" style="width:15%">Rok</th>
    <th scope="col" style="width:15%">Czas Trwania</th>
    <th scope="col" style="width:15%">Gatunek</th>
    <th scope="col" style="width:15%">Nazwa Studia</th>
    <th scope="col" style="width:15%">Edutuj/Usuń</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let film of listFilms">
    <tr scope="row">
      <th >{{film.id}}</th>
      <td>{{film.tytul}}</td>
      <td>{{film.rok}}</td>
      <td>{{film.czasTrwania}}</td>
      <td>{{film.gatunek}}</td>
      <td>{{film.nazwaStudia}}</td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="clicEdit(film.id)">Edycja</button> &nbsp;
        <button type="button" class="btn btn-secondary" (click)="deleteNote(film.id)" >X</button>
      </td>
    </tr>
    <tr *ngIf="editClickindex == film.id">
      <td>{{film.id}}</td>
      <td><input type="text" class="form-control" id="tytul" [(ngModel)]="film.tytul"></td>
      <td><input type="text" class="form-control" id="rok" [(ngModel)]="film.rok"></td>
      <td><input type="text" class="form-control" id="czasTrwania" [(ngModel)]="film.czasTrwania"></td>
      <td><input type="text" class="form-control" id="gatunek" [(ngModel)]="film.gatunek"></td>
      <td><input type="text" class="form-control" id="nazwaStudia" [(ngModel)]="film.nazwaStudia"></td>
      <td><button type="button" class="btn btn-secondary" (click)="updateFilm(film)">Aktualizuj</button></td>
    </tr>
  </ng-container>
  <tr *ngIf="addView==true">
    <td>#</td>
    <td><input type="text" class="form-control" id="tytul" [(ngModel)]="addingFilm.tytul"></td>
    <td><input type="text" class="form-control" id="rok" [(ngModel)]="addingFilm.rok"></td>
    <td><input type="text" class="form-control" id="czasTrwania" [(ngModel)]="addingFilm.czasTrwania"></td>
    <td><input type="text" class="form-control" id="gatunek" [(ngModel)]="addingFilm.gatunek"></td>
    <td><input type="text" class="form-control" id="nazwaStudia" [(ngModel)]="addingFilm.nazwaStudia"></td>
    <td><button type="button" class="btn btn-secondary" (click)="addNewFilm(addingFilm)">Dodaj</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="addView=false" >X</button></td>
  </tr>
  </tbody>
</table>
</div>
